<div class="container" style="width:95%;">
    <h2> Perfil de Admin </h2>
    <br>
    <div class="row">
        <article class="panel panel-info">
            <div class="panel-heading">
                <label> fullName </label>
            </div>
            <div class="panel-body">
                {{admin.fullName}}
            </div>
        </article>
    </div>
    <br>
    <div class="row">
        <article class="panel panel-info">
            <div class="panel-heading">
                <label> email </label>
            </div>
            <div class="panel-body">
                {{admin.email}}
            </div>
        </article>
    </div>
</div>
